In [17]:
import pandas as pd

In [18]:
new_scores = pd.read_csv("/users/1/lundq163/projects/automated-qc/data/known_problems/auto_qc_subset_1024r_for_review_trimmed.csv")
new_scores

,scan,QU_motion,corrected_QU_motion,Rater,Notes,accuracy
0,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0,3.0,Fez,NaN,0.0
1,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0,3.0,Fez,NaN,0.0
2,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0,1.0,Fez,NaN,0.0
3,sub-100586_ses-V02_run-1_T2w.nii.gz,0.0,0.5,Fez,NaN,0.5
4,sub-100895_ses-V02_run-1_T2w.nii.gz,1.0,1.0,Fez,NaN,0.0
...,...,...,...,...,...,...
1003,sub-204271_ses-V03_run-1_T2w.nii.gz,0.0,0.5,Jacob,NaN,0.5
1004,sub-204271_ses-V06_run-1_T1w.nii.gz,1.5,2.0,Jacob,NaN,0.5
1005,sub-204294_ses-V02_run-1_T2w.nii.gz,0.0,0.0,Jacob,NaN,0.0
1006,sub-204294_ses-V02_run-1_T1w.nii.gz,1.0,2.5,Jacob,NaN,1.5
1007,sub-204294_ses-V03_run-1_T2w.nii.gz,1.5,3.0,Jacob,NaN,1.5

In [19]:
# drop the following columns: 'QU_motion', 'Rater', 'Notes', 'accuracy'
new_scores = new_scores.drop(columns=['QU_motion', 'Rater', 'Notes', 'accuracy'])
new_scores

                                     scan  corrected_QU_motion
0     sub-100079_ses-V02_run-1_T2w.nii.gz                  3.0
1     sub-100247_ses-V02_run-1_T2w.nii.gz                  3.0
2     sub-100524_ses-V02_run-1_T2w.nii.gz                  1.0
3     sub-100586_ses-V02_run-1_T2w.nii.gz                  0.5
4     sub-100895_ses-V02_run-1_T2w.nii.gz                  1.0
...                                   ...                  ...
1003  sub-204271_ses-V03_run-1_T2w.nii.gz                  0.5
1004  sub-204271_ses-V06_run-1_T1w.nii.gz                  2.0
1005  sub-204294_ses-V02_run-1_T2w.nii.gz                  0.0
1006  sub-204294_ses-V02_run-1_T1w.nii.gz                  2.5
1007  sub-204294_ses-V03_run-1_T2w.nii.gz                  3.0

[1008 rows x 2 columns]

In [20]:
# load in current data set
current_scores = pd.read_csv("/users/1/lundq163/projects/automated-qc/data/raw/auto_qc_t1w_t2w_subset_1024r.csv")
current_scores

,subject_id,session_id,run_id,suffix,scan,QU_motion
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.0
4,sub-100642,ses-V02,1,T2w,sub-100642_ses-V02_run-1_T2w.nii.gz,0.0
...,...,...,...,...,...,...
1019,sub-204294,ses-V02,1,T2w,sub-204294_ses-V02_run-1_T2w.nii.gz,0.0
1020,sub-204294,ses-V02,1,T1w,sub-204294_ses-V02_run-1_T1w.nii.gz,1.0
1021,sub-204294,ses-V03,1,T2w,sub-204294_ses-V03_run-1_T2w.nii.gz,1.5
1022,sub-204294,ses-V03,2,T2w,sub-204294_ses-V03_run-2_T2w.nii.gz,0.0
1023,sub-204294,ses-V03,1,T1w,sub-204294_ses-V03_run-1_T1w.nii.gz,1.0

In [21]:
# merge the two dataframes on the scan column
merged_scores = current_scores.merge(new_scores, on='scan', how='left')
merged_scores

,subject_id,session_id,run_id,suffix,scan,QU_motion,corrected_QU_motion
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0,3.0
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0,3.0
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0,1.0
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.0,0.5
4,sub-100642,ses-V02,1,T2w,sub-100642_ses-V02_run-1_T2w.nii.gz,0.0,NaN
...,...,...,...,...,...,...,...
1019,sub-204294,ses-V02,1,T2w,sub-204294_ses-V02_run-1_T2w.nii.gz,0.0,0.0
1020,sub-204294,ses-V02,1,T1w,sub-204294_ses-V02_run-1_T1w.nii.gz,1.0,2.5
1021,sub-204294,ses-V03,1,T2w,sub-204294_ses-V03_run-1_T2w.nii.gz,1.5,3.0
1022,sub-204294,ses-V03,2,T2w,sub-204294_ses-V03_run-2_T2w.nii.gz,0.0,NaN
1023,sub-204294,ses-V03,1,T1w,sub-204294_ses-V03_run-1_T1w.nii.gz,1.0,NaN

In [22]:
# drop rows where corrected_QU_motion is NaN
merged_scores = merged_scores.dropna(subset=['corrected_QU_motion'])
merged_scores

,subject_id,session_id,run_id,suffix,scan,QU_motion,corrected_QU_motion
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0,3.0
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0,3.0
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0,1.0
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.0,0.5
6,sub-100895,ses-V02,1,T2w,sub-100895_ses-V02_run-1_T2w.nii.gz,1.0,1.0
...,...,...,...,...,...,...,...
1017,sub-204271,ses-V03,1,T2w,sub-204271_ses-V03_run-1_T2w.nii.gz,0.0,0.5
1018,sub-204271,ses-V06,1,T1w,sub-204271_ses-V06_run-1_T1w.nii.gz,1.5,2.0
1019,sub-204294,ses-V02,1,T2w,sub-204294_ses-V02_run-1_T2w.nii.gz,0.0,0.0
1020,sub-204294,ses-V02,1,T1w,sub-204294_ses-V02_run-1_T1w.nii.gz,1.0,2.5
1021,sub-204294,ses-V03,1,T2w,sub-204294_ses-V03_run-1_T2w.nii.gz,1.5,3.0

In [ ]:
# save as new csv
#merged_scores.to_csv("/users/1/lundq163/projects/automated-qc/data/raw/auto_qc_t1w_t2w_subset_1024r_fixed.csv", index=False)

In [24]:
# reload merged scores
merged_scores_curated = pd.read_csv("/users/1/lundq163/projects/automated-qc/data/raw/auto_qc_t1w_t2w_subset_1024r_fixed.csv")
merged_scores_curated

,subject_id,session_id,run_id,suffix,scan,QU_motion,corrected_QU_motion
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0,3.0
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0,3.0
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0,1.0
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.0,0.5
4,sub-100895,ses-V02,1,T2w,sub-100895_ses-V02_run-1_T2w.nii.gz,1.0,1.0
...,...,...,...,...,...,...,...
1019,sub-205559,ses-V02,1,T2w,sub-205559_ses-V02_run-1_T2w.nii.gz,1.0,1.0
1020,sub-206064,ses-V02,1,T2w,sub-206064_ses-V02_run-1_T2w.nii.gz,0.0,1.5
1021,sub-206064,ses-V02,1,T1w,sub-206064_ses-V02_run-1_T1w.nii.gz,3.0,3.0
1022,sub-206064,ses-V03,1,T2w,sub-206064_ses-V03_run-1_T2w.nii.gz,1.0,1.5
1023,sub-206064,ses-V03,2,T2w,sub-206064_ses-V03_run-2_T2w.nii.gz,1.0,1.5

In [25]:
# drop "QU_motion" column
merged_scores_curated = merged_scores_curated.drop(columns=['QU_motion'])
merged_scores_curated

,subject_id,session_id,run_id,suffix,scan,corrected_QU_motion
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.5
4,sub-100895,ses-V02,1,T2w,sub-100895_ses-V02_run-1_T2w.nii.gz,1.0
...,...,...,...,...,...,...
1019,sub-205559,ses-V02,1,T2w,sub-205559_ses-V02_run-1_T2w.nii.gz,1.0
1020,sub-206064,ses-V02,1,T2w,sub-206064_ses-V02_run-1_T2w.nii.gz,1.5
1021,sub-206064,ses-V02,1,T1w,sub-206064_ses-V02_run-1_T1w.nii.gz,3.0
1022,sub-206064,ses-V03,1,T2w,sub-206064_ses-V03_run-1_T2w.nii.gz,1.5
1023,sub-206064,ses-V03,2,T2w,sub-206064_ses-V03_run-2_T2w.nii.gz,1.5

In [26]:
# rename "corrected_QU_motion" to "QU_motion"
merged_scores_curated = merged_scores_curated.rename(columns={'corrected_QU_motion': 'QU_motion'})
merged_scores_curated

,subject_id,session_id,run_id,suffix,scan,QU_motion
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.5
4,sub-100895,ses-V02,1,T2w,sub-100895_ses-V02_run-1_T2w.nii.gz,1.0
...,...,...,...,...,...,...
1019,sub-205559,ses-V02,1,T2w,sub-205559_ses-V02_run-1_T2w.nii.gz,1.0
1020,sub-206064,ses-V02,1,T2w,sub-206064_ses-V02_run-1_T2w.nii.gz,1.5
1021,sub-206064,ses-V02,1,T1w,sub-206064_ses-V02_run-1_T1w.nii.gz,3.0
1022,sub-206064,ses-V03,1,T2w,sub-206064_ses-V03_run-1_T2w.nii.gz,1.5
1023,sub-206064,ses-V03,2,T2w,sub-206064_ses-V03_run-2_T2w.nii.gz,1.5

In [27]:
# save the merged dataframe to a new csv
merged_scores_curated.to_csv("/users/1/lundq163/projects/automated-qc/data/raw/auto_qc_t1w_t2w_subset_1024r_curated.csv", index=False)