In [12]:
import pandas as pd
import numpy as np

In [13]:
val_results = pd.read_csv('../../doc/models/model_02/model_02_fixed_scores.csv')
#val_results = pd.read_csv('../../doc/models/model_02r/model_02r2.csv')
#val_results = pd.read_csv('../../doc/models/model_02s/model_02s.csv')
#val_results = pd.read_csv('../../doc/models/model_06/model_06.csv')
#val_results = pd.read_csv('../../doc/models/model_02r/model_02r3_part2.csv')
val_results.head()

,subject_id,session_id,run_id,suffix,scan,QU_motion,predicted_qu_motion_score
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0,NaN
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0,NaN
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0,0.507277
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.5,NaN
4,sub-100895,ses-V02,1,T2w,sub-100895_ses-V02_run-1_T2w.nii.gz,1.0,NaN

In [14]:
# find scans with highest prediction error
val_results['abs_error'] = abs(val_results['QU_motion'] - val_results['predicted_qu_motion_score'])
val_results = val_results.sort_values(by='abs_error', ascending=False)
val_results.head(15)

,subject_id,session_id,run_id,suffix,scan,QU_motion,predicted_qu_motion_score,abs_error
104,sub-111782,ses-V02,1,T2w,sub-111782_ses-V02_run-1_T2w.nii.gz,1.0,5.798624,4.798624
507,sub-151862,ses-V03,1,T2w,sub-151862_ses-V03_run-1_T2w.nii.gz,1.0,5.277823,4.277823
863,sub-187492,ses-V02,2,T2w,sub-187492_ses-V02_run-2_T2w.nii.gz,3.0,0.743156,2.256844
862,sub-187492,ses-V02,1,T2w,sub-187492_ses-V02_run-1_T2w.nii.gz,3.0,0.975910,2.024090
113,sub-113017,ses-V03,1,T1w,sub-113017_ses-V03_run-1_T1w.nii.gz,1.0,3.019331,2.019331
762,sub-179995,ses-V04,1,T2w,sub-179995_ses-V04_run-1_T2w.nii.gz,3.0,1.083619,1.916381
1006,sub-204294,ses-V02,1,T1w,sub-204294_ses-V02_run-1_T1w.nii.gz,2.5,0.624061,1.875939
374,sub-141120,ses-V04,1,T2w,sub-141120_ses-V04_run-1_T2w.nii.gz,1.0,-0.674968,1.674968
635,sub-163656,ses-V02,1,T2w,sub-163656_ses-V02_run-1_T2w.nii.gz,0.0,1.625709,1.625709
365,sub-140409,ses-V03,2,T2w,sub-140409_ses-V03_run-2_T2w.nii.gz,0.5,2.107476,1.607476
605,sub-160472,ses-V04,1,T1w,sub-160472_ses-V04_run-1_T1w.nii.gz,1.0,2.547615,1.547615
725,sub-176058,ses-V04,2,T2w,sub-176058_ses-V04_run-2_T2w.nii.gz,0.0,1.545106,1.545106
644,sub-165363,ses-V02,1,T2w,sub-165363_ses-V02_run-1_T2w.nii.gz,3.0,1.495786,1.504214
83,sub-110076,ses-V03,1,T1w,sub-110076_ses-V03_run-1_T1w.nii.gz,0.5,1.986753,1.486753
84,sub-110076,ses-V03,3,T2w,sub-110076_ses-V03_run-3_T2w.nii.gz,0.0,1.485469,1.485469

In [15]:
# save first 15 rows to csv
val_results.head(15).to_csv('../../data/validation_errors/model_02/fixed_scores_validation_set_top15_errors.csv', index=False)

In [16]:
# remove the 5 highest error scans
val_results = val_results.iloc[5:]
val_results.head()

,subject_id,session_id,run_id,suffix,scan,QU_motion,predicted_qu_motion_score,abs_error
762,sub-179995,ses-V04,1,T2w,sub-179995_ses-V04_run-1_T2w.nii.gz,3.0,1.083619,1.916381
1006,sub-204294,ses-V02,1,T1w,sub-204294_ses-V02_run-1_T1w.nii.gz,2.5,0.624061,1.875939
374,sub-141120,ses-V04,1,T2w,sub-141120_ses-V04_run-1_T2w.nii.gz,1.0,-0.674968,1.674968
635,sub-163656,ses-V02,1,T2w,sub-163656_ses-V02_run-1_T2w.nii.gz,0.0,1.625709,1.625709
365,sub-140409,ses-V03,2,T2w,sub-140409_ses-V03_run-2_T2w.nii.gz,0.5,2.107476,1.607476

In [17]:
# count NaN values in abs_error column
val_results['abs_error'].isna().sum()

np.int64(825)

In [18]:
# drop rows with NaN values in abs_error column
val_results = val_results.dropna(subset=['abs_error'])
val_results['abs_error'].isna().sum()

np.int64(0)

In [19]:
def create_correlation_coefficient(actual_vals, predicted_vals):
    """Calculate Pearson correlation coefficient between actual and predicted values.

    Args:
        actual_vals (list): Actual QU_motion scores
        predicted_vals (list): Predicted QU_motion scores

    Returns:
        float: Pearson correlation coefficient (r value)
    """
    x = np.array(actual_vals)
    y = np.array(predicted_vals)

    correlation_matrix = np.corrcoef(x, y)
    correlation_coefficient = correlation_matrix[0, 1]

    return correlation_coefficient

In [20]:
# recalculate metrics without the 5 highest error scans
corr = create_correlation_coefficient(val_results['QU_motion'], val_results['predicted_qu_motion_score'])
corr

np.float64(0.663112829139712)