In [18]:
import pandas as pd
import numpy as np

In [19]:
#val_results = pd.read_csv('../doc/models/model_02/model_02.csv')
#val_results = pd.read_csv('../../doc/models/model_02r/model_02r2.csv')
#val_results = pd.read_csv('../../doc/models/model_02s/model_02s.csv')
val_results = pd.read_csv('../../doc/models/model_06/model_06.csv')
val_results.head()

,subject_id,session_id,run_id,suffix,scan,QU_motion,predicted_qu_motion_score
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.0,0.462807
1,sub-100247,ses-V02,1,T2w,sub-100247_ses-V02_run-1_T2w.nii.gz,3.0,NaN
2,sub-100524,ses-V02,1,T2w,sub-100524_ses-V02_run-1_T2w.nii.gz,1.0,NaN
3,sub-100586,ses-V02,1,T2w,sub-100586_ses-V02_run-1_T2w.nii.gz,0.0,0.815789
4,sub-100642,ses-V02,1,T2w,sub-100642_ses-V02_run-1_T2w.nii.gz,0.0,NaN

In [20]:
# find scans with highest prediction error
val_results['abs_error'] = abs(val_results['QU_motion'] - val_results['predicted_qu_motion_score'])
val_results = val_results.sort_values(by='abs_error', ascending=False)
val_results.head(15)

,subject_id,session_id,run_id,suffix,scan,QU_motion,predicted_qu_motion_score,abs_error
1023,sub-204294,ses-V03,1,T1w,sub-204294_ses-V03_run-1_T1w.nii.gz,1.000000,13.391993,12.391993
1022,sub-204294,ses-V03,2,T2w,sub-204294_ses-V03_run-2_T2w.nii.gz,0.000000,-6.366656,6.366656
707,sub-172232,ses-V03,1,T2w,sub-172232_ses-V03_run-1_T2w.nii.gz,3.000000,5.571620,2.571620
0,sub-100079,ses-V02,1,T2w,sub-100079_ses-V02_run-1_T2w.nii.gz,3.000000,0.462807,2.537193
652,sub-165363,ses-V02,1,T2w,sub-165363_ses-V02_run-1_T2w.nii.gz,3.000000,0.505610,2.494390
969,sub-201881,ses-V03,1,T2w,sub-201881_ses-V03_run-1_T2w.nii.gz,2.000000,-0.202867,2.202867
703,sub-172232,ses-V02,2,T2w,sub-172232_ses-V02_run-2_T2w.nii.gz,2.666667,0.484513,2.182154
264,sub-130428,ses-V04,2,T2w,sub-130428_ses-V04_run-2_T2w.nii.gz,3.000000,0.846126,2.153874
150,sub-116102,ses-V02,2,T1w,sub-116102_ses-V02_run-2_T1w.nii.gz,3.000000,5.087360,2.087360
369,sub-140160,ses-V02,2,T1w,sub-140160_ses-V02_run-2_T1w.nii.gz,3.000000,0.939782,2.060218
468,sub-147780,ses-V02,1,T2w,sub-147780_ses-V02_run-1_T2w.nii.gz,3.000000,0.956612,2.043388
263,sub-130428,ses-V04,1,T2w,sub-130428_ses-V04_run-1_T2w.nii.gz,3.000000,1.085515,1.914485
234,sub-126377,ses-V02,1,T2w,sub-126377_ses-V02_run-1_T2w.nii.gz,1.000000,2.868577,1.868577
832,sub-184697,ses-V02,1,T2w,sub-184697_ses-V02_run-1_T2w.nii.gz,1.500000,-0.276610,1.776610
922,sub-197360,ses-V02,1,T2w,sub-197360_ses-V02_run-1_T2w.nii.gz,3.000000,4.734056,1.734056

In [22]:
# save first 15 rows to csv
val_results.head(15).to_csv('../../data/validation_errors/model_06/validation_set_top15_errors.csv', index=False)

In [23]:
# remove the 5 highest error scans
val_results = val_results.iloc[5:]
val_results.head()

,subject_id,session_id,run_id,suffix,scan,QU_motion,predicted_qu_motion_score,abs_error
969,sub-201881,ses-V03,1,T2w,sub-201881_ses-V03_run-1_T2w.nii.gz,2.000000,-0.202867,2.202867
703,sub-172232,ses-V02,2,T2w,sub-172232_ses-V02_run-2_T2w.nii.gz,2.666667,0.484513,2.182154
264,sub-130428,ses-V04,2,T2w,sub-130428_ses-V04_run-2_T2w.nii.gz,3.000000,0.846126,2.153874
150,sub-116102,ses-V02,2,T1w,sub-116102_ses-V02_run-2_T1w.nii.gz,3.000000,5.087360,2.087360
369,sub-140160,ses-V02,2,T1w,sub-140160_ses-V02_run-2_T1w.nii.gz,3.000000,0.939782,2.060218

In [24]:
# count NaN values in abs_error column
val_results['abs_error'].isna().sum()

np.int64(817)

In [25]:
# drop rows with NaN values in abs_error column
val_results = val_results.dropna(subset=['abs_error'])
val_results['abs_error'].isna().sum()

np.int64(0)

In [26]:
def create_correlation_coefficient(actual_vals, predicted_vals):
    """Calculate Pearson correlation coefficient between actual and predicted values.

    Args:
        actual_vals (list): Actual QU_motion scores
        predicted_vals (list): Predicted QU_motion scores

    Returns:
        float: Pearson correlation coefficient (r value)
    """
    x = np.array(actual_vals)
    y = np.array(predicted_vals)

    correlation_matrix = np.corrcoef(x, y)
    correlation_coefficient = correlation_matrix[0, 1]

    return correlation_coefficient

In [27]:
# recalculate metrics without the 5 highest error scans
corr = create_correlation_coefficient(val_results['QU_motion'], val_results['predicted_qu_motion_score'])
corr

np.float64(0.6349924774481085)